<div class="container text-center p-5">

  <mat-card class="example-card">
    <img src="../../../assets/overcloud_logo.png"/>
    <mat-card-content>
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
            </div>
            <form class="user">
              <div class="form-group">
                <input type="email" class="form-control form-control-user"
                       id="inputEmail" aria-describedby="emailHelp"
                       placeholder="Enter Email Address..." #intEmail>
              </div>
              <div class="form-group">
                <input type="password" class="form-control form-control-user"
                       id="inputPassword" placeholder="Password" #intPassword>
              </div>
              <a (click)="login(intEmail.value, intPassword.value)" class="btn btn-outline-primary btn-user btn-block">
                Login
              </a>
            </form>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
