<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Cloud Accounts</h1>
  <p class="mb-4">Here you can see all configured cloud accounts, and configure some more.</p>

  <button mat-fab matTooltip="Add account" color="primary" (click)="onAdd()">
    <mat-icon>add</mat-icon>
  </button>
  <hr>

  <mat-card class="col-3" *ngFor="let account of cloudAccounts">
    <mat-card-header>
      <mat-card-title>{{account.cloudProvider}}</mat-card-title>
<!--      <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
    </mat-card-header>
<!--    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
    <mat-card-content class="text-center">
      <h2 class="card-title">{{account.displayName}}</h2>
      <p class="card-text">Access Key: {{account.accessKey}}</p>
      <p class="card-text">Scan Interval: {{account.scanInterval}} Hours</p>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-icon-button mat-button matTooltip="Scan account for recommendations" (click)="onScan(account._id)">
        <mat-icon>radar</mat-icon>
      </button>
      <button mat-icon-button mat-button matTooltip="View account recommendations" routerLink="/recommendations">
        <mat-icon>visibility</mat-icon>
      </button>
      <button mat-icon-button mat-button matTooltip="Update account details">
        <mat-icon>settings</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
