<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Recommendations</h1>
  <p class="mb-4">This table shows the current recommendations for the different cloud accounts</p>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
          <tr class="text-center">
            <th>ID</th>
            <th>Display Name</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rec of recommendations">
<!--            <td>{{rec._id}}</td>-->
<!--            <td>{{account.displayName}}</td>-->
            <td class="text-center">
              <div class="btn-group ml-auto" role="group">
<!--                <button class="btn btn-warning btn-circle" routerLink="/cloud-accounts/{{account._id}}">-->
<!--                  <i class="fas fa-edit"></i>-->
<!--                </button>-->
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
