.addAccount{
    background-image: url('https://wallpaperaccess.com/full/1567666.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;

}