.navbar.bg-dark {
    background-color: black !important;
}

.Header {
    position: relative;
    height: 67px;
    width: 100%;

}

.logo {
    width: 400px;
    height: 70px;
}

.header-right {
    float: right;
}

.links {
    color: white;
}
.logout-nav{
    
    position: absolute;
    right: 25px;

}

.mr-auto1{
    position: absolute;
    right: 25px;

}