<h1 mat-dialog-title class="text-center">Add Cloud Account</h1>
<hr>
<div mat-dialog-content class="text-center">
  <mat-form-field appearance="fill">
    <mat-label>Cloud Provider</mat-label>
    <mat-select matTooltip="Choose the relevant cloud provider" required
                matTooltipPosition="before"
                [(value)]="cloudProvider">
      <mat-option *ngFor="let provider of CLOUD_PROVIDERS" [value]="provider.value" [disabled]="provider.disabled">
        {{provider.viewValue}}
      </mat-option>
    </mat-select>
    <mat-icon matSuffix>cloud</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Display Name</mat-label>
    <input matInput placeholder="Choose a unique name" [(ngModel)]="displayName"
           matTooltip="This name is a logical name that will represent the cloud account"
           matTooltipPosition="before" required minlength="3">
    <mat-icon matSuffix>textsms</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Access Key</mat-label>
    <input matInput [(ngModel)]="accessKey"
           matTooltip="When working with AWS, you need to provide a valid access key of a user with
           the required privileges for the scanning and remediation to work"
           matTooltipPosition="before" required minlength="10">
    <mat-icon matSuffix>vpn_key</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Secret Access Key</mat-label>
    <input type="password" matInput [(ngModel)]="secretAccessKey"
           matTooltip="When working with AWS, you need to provide a valid secret access key (that matches
           the access key provided above) of a user with the required privileges
           for the scanning and remediation to work"
           matTooltipPosition="before" required minlength="10">
    <mat-icon matSuffix>lock</mat-icon>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Scan Interval (Hours)</mat-label>
    <input type="number" min="0" max="24" matInput [(ngModel)]="scanInterval"
           matTooltip="The number of hours between automated scans.
           Setting this number to a lower value will require more scan on the account,
           which might raise costs as it requires more API calls. Default: 0 (disable automatic scans)"
           matTooltipPosition="before" required>
    <mat-icon matSuffix>update</mat-icon>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onCancelClick()">Cancel</button>
  <button mat-raised-button color="accent" (click)="onValidateClick()">Validate</button>
  <button mat-raised-button color="primary" (click)="onAddClick()">Add</button>
</div>
