<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Team Container -->
<div class="w3-container w3-center" id="team">
  <h1>OUR TEAM</h1>
  <hr>

  <div class="row"><br>

    <div class="col">
      <img src="assets/team/daniel_v.jpg" alt="Daniel Vaknin" height="200" class="w3-circle w3-hover-opacity">
      <hr>
      <h2>Daniel Vaknin</h2>
      <p>CEO</p>
    </div>

    <div class="col">
      <img src="assets/team/daniel_l.jpeg" alt="Daniel Leinov" height="200" class="w3-circle w3-hover-opacity">
      <hr>
      <h2>Daniel Leinov</h2>
      <p>CTO</p>
    </div>

    <div class="col">
      <img src="assets/team/omer_h.jpeg" alt="Omer Harush" height="200" class="w3-circle w3-hover-opacity">
      <hr>
      <h2>Omer Harush</h2>
      <p>VP Product</p>
    </div>

    <div class="col">
      <img src="assets/team/alon_h.jpeg" alt="Alon Ehrenlieb" height="200" class="w3-circle w3-hover-opacity">
      <hr>
      <h2>Alon Ehrenlieb</h2>
      <p>VP R&D</p>
    </div>

    <div class="col">
      <img src="assets/team/tal_f.jpeg" alt="Tal Franco" height="200" class="w3-circle w3-hover-opacity">
      <hr>
      <h2>Tal Franco</h2>
      <p>VP Marketing</p>
    </div>

  </div>
</div>

<!-- Pricing Row -->
<div class="w3-row-padding w3-center w3-padding-64" id="pricing">
  <h1>PRICING</h1>
  <p>Choose a pricing plan that fits your needs.</p><br>
  <div class="w3-half w3-margin-bottom">
    <ul class="w3-ul w3-border w3-hover-shadow">
      <li class="w3-theme-l2">
        <p class="w3-xlarge">Free (Current)</p>
      </li>
      <li class="w3-padding-16"><b>Basic</b> Recommendations</li>
      <li class="w3-padding-16"><b>Basic</b> Remediation Actions</li>
      <li class="w3-padding-16"><b>Single</b> Cloud Provider</li>
      <li class="w3-padding-16">---</li>
      <li class="w3-padding-16">
        <h2 class="w3-wide">FREE</h2>
        <span class="w3-opacity">forever</span>
      </li>
      <li class="w3-theme-l5 w3-padding-24">
        <button class="w3-button w3-teal w3-padding-large" disabled>Subscribed</button>
      </li>
    </ul>
  </div>

  <div class="w3-half w3-margin-bottom">
    <ul class="w3-ul w3-border w3-hover-shadow">
      <li class="w3-theme">
        <p class="w3-xlarge">Premium</p>
      </li>
      <li class="w3-padding-16"><b>Advanced</b> Recommendations</li>
      <li class="w3-padding-16"><b>Advanced</b> Remediation  Actions</li>
      <li class="w3-padding-16"><b>Multiple</b> Cloud Providers</li>
      <li class="w3-padding-16"><b>User</b> Management</li>
      <li class="w3-padding-16">
        <h2 class="w3-wide"><i class="fa fa-usd"></i> 50</h2>
        <span class="w3-opacity">per month</span>
      </li>
      <li class="w3-theme-l5 w3-padding-24">
        <button class="w3-button w3-teal w3-padding-large">Contact Us</button>
      </li>
    </ul>
  </div>
</div>

<!-- Contact Container -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div class="w3-col m5">
      <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">Contact Us</span></div>
      <p><i class="fa fa-map-marker w3-text-teal w3-xlarge"></i>  Tel Aviv, IL</p>
      <p><i class="fa fa-phone w3-text-teal w3-xlarge"></i>  +972-54-6345042</p>
      <p><i class="fa fa-envelope-o w3-text-teal w3-xlarge"></i>  danielvaknin10@gmail.com</p>
    </div>
    <div class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" target="_blank">
        <div class="w3-section">
          <label>Name</label>
          <input class="w3-input" type="text" name="Name" required>
        </div>
        <div class="w3-section">
          <label>Email</label>
          <input class="w3-input" type="text" name="Email" required>
        </div>
        <div class="w3-section">
          <label>Message</label>
          <input class="w3-input" type="text" name="Message" required>
        </div>
        <button type="submit" class="w3-button w3-right w3-theme" (click)="onSendClick()">Send</button>
      </form>
    </div>
  </div>
</div>
